<footer class="bg-white py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0">Copyright &copy; Your Website 2023</div></div>
            <div class="col-auto">
                <a class="small" href="https://concepto.de/privacidad-digital/">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="https://web.facebook.com/help/1561485474074139?ref=tos&_rdc=1&_rdr">Terms</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="./contacto">Contact</a>
            </div>
        </div>
    </div>
</footer>