{% extends 'layout.html' %}
{% block content %}
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    <a class="btn btn-primary px-4 py-3" href="https://firebasestorage.googleapis.com/v0/b/jorgeqportafoliocv.appspot.com/o/cvfrontendbackend.docx?alt=media&token=8fa54b61-2035-4430-9de9-341c2a17383f">
                        <div class="d-inline-block bi bi-download me-2"></div>
                        Download Resume
                    </a>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">| Enero 2018 - Diciembre 2020</div>
                                    <div class="small fw-bolder">Web Developer</div>
                                    <div class="small text-muted">Stark Industries</div>
                                    <div class="small text-muted">Los Angeles, CA</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>
                                •	Desarrollé y mantuve aplicaciones web en todos los niveles, desde la concepción hasta la implementación y el despliegue.
                                •	Trabajé en estrecha colaboración con el equipo de diseño y los stakeholders para transformar requisitos en características técnicas.
                                •	Utilicé tecnologías como HTML, CSS, JavaScript, React.js y Node.js para construir interfaces de usuario interactivas y funcionalidades backend robustas.
                                •	Implementé bases de datos y API RESTful para mejorar la comunicación entre el frontend y el backend.
                                •	Participé en la optimización del rendimiento del sitio para mejorar la velocidad de carga y la experiencia del usuario.
                                
                                </div></div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">Agosto 2016 - Abril 2017</div>
                                    <div class="small fw-bolder">Agencia de Desarrollo Web 123 </div>
                                    <div class="small text-muted">Wayne Enterprises</div>
                                    <div class="small text-muted">Gotham City, NY</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>
                                •	Trabajé en proyectos de desarrollo backend, utilizando tecnologías como Node.js y Express para crear API RESTful.
                                •	Colaboré con el equipo de frontend para asegurar una comunicación fluida entre el cliente y el servidor.
                                •	Realicé tareas de mantenimiento y corrección de errores para garantizar un funcionamiento continuo y sin problemas de las aplicaciones existentes.
                                </div></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Education Section-->
            <section>
                <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                <!-- Education Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2015 - 2017</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Instituto Tecnológico de Massachusetts (MIT) </div>
                                        <div class="small text-muted">Massachusetts, USA</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">Master's</div>
                                        <div class="small text-muted">Web Development</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>
                                •	Título obtenido: Posgrado en Ciencias de la Computación
                                •	Período de estudio: [Fecha de inicio] - [Fecha de graduación]
                                •	Descripción: Durante mi tiempo, adquirí sólidos conocimientos en programación de frontend y backend. Los cursos incluyeron desarrollo web, lenguajes de programación, bases de datos y diseño de interfaces de usuario.
                                </div></div>
                        </div>
                    </div>
                </div>
                <!-- Education Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2011 - 2015</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Universidad de Tecnología de Viena (Technische Universität Wien)</div>
                                        <div class="small text-muted">Viena, Austria</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">Ingeniería Informática</div>
                                        <div class="small text-muted">Ciencia Informatica</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>
                                •	Título obtenido: Grado en Ingeniería Informática
                                •	Período de estudio: [Fecha de inicio] - [Fecha de graduación]
                                •	Descripción: Durante mi tiempo en la Universidad, me enfoqué en la programación tanto de frontend como de backend. Los cursos incluían el desarrollo de aplicaciones web, arquitecturas cliente-servidor, frameworks de frontend y backend, así como prácticas de programación.
                                </div></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SEO/SEM Marketing</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Statistical Analysis</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Development</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Network Security</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Adobe Software Suite</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">User Interface Design</div></div>
                            </div>
                        </div>
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Ruby</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}